<%- include('../../partials/head' , { title: 'Haberler' }) %>
<%- include('../../partials/header') %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <form class="col-10" action="/update" method="POST">

            <input type="hidden" name="id" value="<%= news.id %>">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Haber Başlığı</label>
                <input type="text" class="form-control" name="title" value="<%= news.title %>" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="">Haber Dili</label>
                <select class="form-control" id="category" name="lang">
                    <option {{#if (compare news.lang 'tr' )}} selected {{/if}} value="tr">Turkish - Türkçe</option>
                    <option {{#if (compare news.lang 'en' )}} selected {{/if}} value="en">English</option>
                    <option {{#if (compare news.lang 'ar' )}} selected {{/if}} value="ar">Arabic - العربية</option>
                    <option {{#if (compare news.lang 'af' )}} selected {{/if}} value="af">Afrikaans</option>
                    <option {{#if (compare news.lang 'sq' )}} selected {{/if}} value="sq">Albanian - shqip</option>
                    <option {{#if (compare news.lang 'am' )}} selected {{/if}} value="am">Amharic - አማርኛ</option>  
                    <option {{#if (compare news.lang 'an' )}} selected {{/if}} value="an">Aragonese - aragonés</option>
                    <option {{#if (compare news.lang 'hy' )}} selected {{/if}} value="hy">Armenian - հայերեն</option>
                    <option {{#if (compare news.lang 'ast' )}}selected {{/if}}  value="ast">Asturian - asturianu</option>
                    <option {{#if (compare news.lang 'az' )}} selected {{/if}} value="az">Azerbaijani - azərbaycan dili</option>
                    <option {{#if (compare news.lang 'eu' )}} selected {{/if}} value="eu">Basque - euskara</option>
                    <option {{#if (compare news.lang 'be' )}} selected {{/if}} value="be">Belarusian - беларуская</option>
                    <option {{#if (compare news.lang 'bn' )}} selected {{/if}} value="bn">Bengali - বাংলা</option>
                    <option {{#if (compare news.lang 'bs' )}} selected {{/if}} value="bs">Bosnian - bosanski</option>
                    <option {{#if (compare news.lang 'br' )}} selected {{/if}} value="br">Breton - brezhoneg</option>
                    <option {{#if (compare news.lang 'bg' )}} selected {{/if}} value="bg">Bulgarian - български</option>
                    <option {{#if (compare news.lang 'ca' )}} selected {{/if}} value="ca">Catalan - català</option>
                    <option {{#if (compare news.lang 'zh' )}} selected {{/if}} value="zh">Chinese - 中文</option>
                    <option {{#if (compare news.lang 'co' )}} selected {{/if}} value="co">Corsican</option>
                    <option {{#if (compare news.lang 'hr' )}} selected {{/if}} value="hr">Croatian - hrvatski</option>
                    <option {{#if (compare news.lang 'cs' )}} selected {{/if}} value="cs">Czech - čeština</option>
                    <option {{#if (compare news.lang 'da' )}} selected {{/if}} value="da">Danish - dansk</option>
                    <option {{#if (compare news.lang 'nl' )}} selected {{/if}} value="nl">Dutch - Nederlands</option>
                    <option {{#if (compare news.lang 'eo' )}} selected {{/if}} value="eo">Esperanto - esperanto</option>
                    <option {{#if (compare news.lang 'et' )}} selected {{/if}} value="et">Estonian - eesti</option>
                    <option {{#if (compare news.lang 'fo' )}} selected {{/if}} value="fo">Faroese - føroyskt</option>
                    <option {{#if (compare news.lang 'fil' )}}selected {{/if}}  value="fil">Filipino</option>
                    <option {{#if (compare news.lang 'fi' )}} selected {{/if}} value="fi">Finnish - suomi</option>
                    <option {{#if (compare news.lang 'fr' )}} selected {{/if}} value="fr">French - français</option>
                    <option {{#if (compare news.lang 'gl' )}} selected {{/if}} value="gl">Galician - galego</option>
                    <option {{#if (compare news.lang 'ka' )}} selected {{/if}} value="ka">Georgian - ქართული</option>
                    <option {{#if (compare news.lang 'de' )}} selected {{/if}} value="de">German - Deutsch</option>
                    <option {{#if (compare news.lang 'el' )}} selected {{/if}} value="el">Greek - Ελληνικά</option>
                    <option {{#if (compare news.lang 'gn' )}} selected {{/if}} value="gn">Guarani</option>
                    <option {{#if (compare news.lang 'gu' )}} selected {{/if}} value="gu">Gujarati - ગુજરાતી</option>
                    <option {{#if (compare news.lang 'ha' )}} selected {{/if}} value="ha">Hausa</option>
                    <option {{#if (compare news.lang 'haw' )}}selected {{/if}}  value="haw">Hawaiian - ʻŌlelo Hawaiʻi</option>
                    <option {{#if (compare news.lang 'he' )}} selected {{/if}} value="he">Hebrew - עברית</option>
                    <option {{#if (compare news.lang 'hi' )}} selected {{/if}} value="hi">Hindi - हिन्दी</option>
                    <option {{#if (compare news.lang 'hu' )}} selected {{/if}} value="hu">Hungarian - magyar</option>
                    <option {{#if (compare news.lang 'is' )}} selected {{/if}} value="is">Icelandic - íslenska</option>
                    <option {{#if (compare news.lang 'id' )}} selected {{/if}} value="id">Indonesian - Indonesia</option>
                    <option {{#if (compare news.lang 'ia' )}} selected {{/if}} value="ia">Interlingua</option>
                    <option {{#if (compare news.lang 'ga' )}} selected {{/if}} value="ga">Irish - Gaeilge</option>
                    <option {{#if (compare news.lang 'it' )}} selected {{/if}} value="it">Italian - italiano</option>
                    <option {{#if (compare news.lang 'ja' )}} selected {{/if}} value="ja">Japanese - 日本語</option>
                    <option {{#if (compare news.lang 'kn' )}} selected {{/if}} value="kn">Kannada - ಕನ್ನಡ</option>
                    <option {{#if (compare news.lang 'kk' )}} selected {{/if}} value="kk">Kazakh - қазақ тілі</option>
                    <option {{#if (compare news.lang 'km' )}} selected {{/if}} value="km">Khmer - ខ្មែរ</option>
                    <option {{#if (compare news.lang 'ko' )}} selected {{/if}} value="ko">Korean - 한국어</option>
                    <option {{#if (compare news.lang 'ku' )}} selected {{/if}} value="ku">Kurdish - Kurdî</option>
                    <option {{#if (compare news.lang 'ky' )}} selected {{/if}} value="ky">Kyrgyz - кыргызча</option>
                    <option {{#if (compare news.lang 'lo' )}} selected {{/if}} value="lo">Lao - ລາວ</option>
                    <option {{#if (compare news.lang 'la' )}} selected {{/if}} value="la">Latin</option>
                    <option {{#if (compare news.lang 'lv' )}} selected {{/if}} value="lv">Latvian - latviešu</option>
                    <option {{#if (compare news.lang 'ln' )}} selected {{/if}} value="ln">Lingala - lingála</option>
                    <option {{#if (compare news.lang 'lt' )}} selected {{/if}} value="lt">Lithuanian - lietuvių</option>
                    <option {{#if (compare news.lang 'mk' )}} selected {{/if}} value="mk">Macedonian - македонски</option>
                    <option {{#if (compare news.lang 'ms' )}} selected {{/if}} value="ms">Malay - Bahasa Melayu</option>
                    <option {{#if (compare news.lang 'ml' )}} selected {{/if}} value="ml">Malayalam - മലയാളം</option>
                    <option {{#if (compare news.lang 'mt' )}} selected {{/if}} value="mt">Maltese - Malti</option>
                    <option {{#if (compare news.lang 'mr' )}} selected {{/if}} value="mr">Marathi - मराठी</option>
                    <option {{#if (compare news.lang 'mn' )}} selected {{/if}} value="mn">Mongolian - монгол</option>
                    <option {{#if (compare news.lang 'ne' )}} selected {{/if}} value="ne">Nepali - नेपाली</option>
                    <option {{#if (compare news.lang 'no' )}} selected {{/if}} value="no">Norwegian - norsk</option>
                    <option {{#if (compare news.lang 'nb' )}} selected {{/if}} value="nb">Norwegian Bokmål - norsk bokmål</option>
                    <option {{#if (compare news.lang 'nn' )}} selected {{/if}} value="nn">Norwegian Nynorsk - nynorsk</option>
                    <option {{#if (compare news.lang 'oc' )}} selected {{/if}} value="oc">Occitan</option>
                    <option {{#if (compare news.lang 'or' )}} selected {{/if}} value="or">Oriya - ଓଡ଼ିଆ</option>
                    <option {{#if (compare news.lang 'om' )}} selected {{/if}} value="om">Oromo - Oromoo</option>
                    <option {{#if (compare news.lang 'ps' )}} selected {{/if}} value="ps">Pashto - پښتو</option>
                    <option {{#if (compare news.lang 'fa' )}} selected {{/if}} value="fa">Persian - فارسی</option>
                    <option {{#if (compare news.lang 'pl' )}} selected {{/if}} value="pl">Polish - polski</option>
                    <option {{#if (compare news.lang 'pt' )}} selected {{/if}} value="pt">Portuguese - português</option>
                    <option {{#if (compare news.lang 'pa' )}} selected {{/if}} value="pa">Punjabi - ਪੰਜਾਬੀ</option>
                    <option {{#if (compare news.lang 'qu' )}} selected {{/if}} value="qu">Quechua</option>
                    <option {{#if (compare news.lang 'ro' )}} selected {{/if}} value="ro">Romanian - română</option>
                    <option {{#if (compare news.lang 'mo' )}} selected {{/if}} value="mo">Romanian (Moldova) - română (Moldova)</option>
                    <option {{#if (compare news.lang 'rm' )}} selected {{/if}} value="rm">Romansh - rumantsch</option>
                    <option {{#if (compare news.lang 'ru' )}} selected {{/if}} value="ru">Russian - русский</option>
                    <option {{#if (compare news.lang 'gd' )}} selected {{/if}} value="gd">Scottish Gaelic</option>
                    <option {{#if (compare news.lang 'sr' )}} selected {{/if}} value="sr">Serbian - српски</option>
                    <option {{#if (compare news.lang 'sh' )}} selected {{/if}} value="sh">Serbo-Croatian - Srpskohrvatski</option>
                    <option {{#if (compare news.lang 'sn' )}} selected {{/if}} value="sn">Shona - chiShona</option>
                    <option {{#if (compare news.lang 'sd' )}} selected {{/if}} value="sd">Sindhi</option>
                    <option {{#if (compare news.lang 'si' )}} selected {{/if}} value="si">Sinhala - සිංහල</option>
                    <option {{#if (compare news.lang 'sk' )}} selected {{/if}} value="sk">Slovak - slovenčina</option>
                    <option {{#if (compare news.lang 'sl' )}} selected {{/if}} value="sl">Slovenian - slovenščina</option>
                    <option {{#if (compare news.lang 'so' )}} selected {{/if}} value="so">Somali - Soomaali</option>
                    <option {{#if (compare news.lang 'st' )}} selected {{/if}} value="st">Southern Sotho</option>
                    <option {{#if (compare news.lang 'es' )}} selected {{/if}} value="es">Spanish - español</option>
                    <option {{#if (compare news.lang 'su' )}} selected {{/if}} value="su">Sundanese</option>
                    <option {{#if (compare news.lang 'sw' )}} selected {{/if}} value="sw">Swahili - Kiswahili</option>
                    <option {{#if (compare news.lang 'sv' )}} selected {{/if}} value="sv">Swedish - svenska</option>
                    <option {{#if (compare news.lang 'tg' )}} selected {{/if}} value="tg">Tajik - тоҷикӣ</option>
                    <option {{#if (compare news.lang 'ta' )}} selected {{/if}} value="ta">Tamil - தமிழ்</option>
                    <option {{#if (compare news.lang 'tt' )}} selected {{/if}} value="tt">Tatar</option>
                    <option {{#if (compare news.lang 'te' )}} selected {{/if}} value="te">Telugu - తెలుగు</option>
                    <option {{#if (compare news.lang 'th' )}} selected {{/if}} value="th">Thai - ไทย</option>
                    <option {{#if (compare news.lang 'ti' )}} selected {{/if}} value="ti">Tigrinya - ትግርኛ</option>
                    <option {{#if (compare news.lang 'to' )}} selected {{/if}} value="to">Tongan - lea fakatonga</option>
                    <option {{#if (compare news.lang 'tk' )}} selected {{/if}} value="tk">Turkmen</option>
                    <option {{#if (compare news.lang 'tw' )}} selected {{/if}} value="tw">Twi</option>
                    <option {{#if (compare news.lang 'uk' )}} selected {{/if}} value="uk">Ukrainian - українська</option>
                    <option {{#if (compare news.lang 'ur' )}} selected {{/if}} value="ur">Urdu - اردو</option>
                    <option {{#if (compare news.lang 'ug' )}} selected {{/if}} value="ug">Uyghur</option>
                    <option {{#if (compare news.lang 'uz' )}} selected {{/if}} value="uz">Uzbek - o‘zbek</option>
                    <option {{#if (compare news.lang 'vi' )}} selected {{/if}} value="vi">Vietnamese - Tiếng Việt</option>
                    <option {{#if (compare news.lang 'wa' )}} selected {{/if}} value="wa">Walloon - wa</option>
                    <option {{#if (compare news.lang 'cy' )}} selected {{/if}} value="cy">Welsh - Cymraeg</option>
                    <option {{#if (compare news.lang 'fy' )}} selected {{/if}} value="fy">Western Frisian</option>
                    <option {{#if (compare news.lang 'xh' )}} selected {{/if}} value="xh">Xhosa</option>
                    <option {{#if (compare news.lang 'yi' )}} selected {{/if}} value="yi">Yiddish</option>
                    <option {{#if (compare news.lang 'yo' )}} selected {{/if}} value="yo">Yoruba - Èdè Yorùbá</option>
                    <option {{#if (compare news.lang 'zu' )}} selected {{/if}} value="zu">Zulu - isiZulu</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="">Haber İçeriği</label>
                <textarea id="content" name="description"><%= news.description %></textarea>
            </div>

            <div class="mb-3">
                <label for="">Haber Kapak Resmi</label>
                <input class="form-control" type="file" id="title" name="image" accept="image/*">
            </div>

            <div class="mb-3">
                <a class="nav-link" href="/<%= news.image %>" data-fancybox="gallery">
                    Resmi Gör
                </a>
            </div>

            <% if (tags) { %>
            <div class="mb-3">
                <h3>Etiketler</h3>
                <% tags.forEach((item) => { %>
                    <% if (news.news_tags.map(tag => tag.tag.name).includes(item.name)) { %>
                        <label for=""><%= item.name %></label>
                        <input class="me-3" type="checkbox" name="tags[]" value="<%= item.id %>" checked>
                      <% } else { %>
                        <label for=""><%= item.name %></label>
                        <input class="me-3" type="checkbox" name="tags[]" value="<%= item.id %>">
                      <% } %>
                 <% }) %> 
            </div>
            <% } %>

            <button type="submit" class="btn btn-primary mb-3">Güncelle</button>

        </form>
    </div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#content'))
            .catch(error => {
                console.error(error);
            });
    </script>

<%- include('../../partials/footer') %>