<%- include('../../partials/head' , { title: 'Haberler' }) %>
<%- include('../../partials/header') %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <form class="col-10" action="/update" method="POST">

            <input type="hidden" name="id" value="<%= news.id %>">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Haber Başlığı</label>
                <input type="text" class="form-control" name="title" value="<%= news.title %>" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="">Haber Dili</label>
                <select class="form-control" id="category" name="lang">
                    <option <% if (news.lang == 'tr') { %> selected <% } %> value="tr">Turkish - Türkçe</option>
                    <option <% if (news.lang == 'en') { %> selected <% } %> value="en">English</option>
                    <option <% if (news.lang == 'ar') { %> selected <% } %> value="ar">Arabic - العربية</option>
                    <option <% if (news.lang == 'af' ) { %> selected <% } %> value="af">Afrikaans</option>
                    <option <% if (news.lang == 'sq' ) { %> selected <% } %> value="sq">Albanian - shqip</option>
                    <option <% if (news.lang == 'am' ) { %> selected <% } %> value="am">Amharic - አማርኛ</option>  
                    <option <% if (news.lang == 'an' ) { %> selected <% } %> value="an">Aragonese - aragonés</option>
                    <option <% if (news.lang == 'hy' ) { %> selected <% } %> value="hy">Armenian - հայերեն</option>
                    <option <% if (news.lang == 'ast') { %> selected <% } %>  value="ast">Asturian - asturianu</option>
                    <option <% if (news.lang == 'az' ) { %> selected <% } %> value="az">Azerbaijani - azərbaycan dili</option>
                    <option <% if (news.lang == 'eu' ) { %> selected <% } %> value="eu">Basque - euskara</option>
                    <option <% if (news.lang == 'be' ) { %> selected <% } %> value="be">Belarusian - беларуская</option>
                    <option <% if (news.lang == 'bn' ) { %> selected <% } %> value="bn">Bengali - বাংলা</option>
                    <option <% if (news.lang == 'bs' ) { %> selected <% } %> value="bs">Bosnian - bosanski</option>
                    <option <% if (news.lang == 'br' ) { %> selected <% } %> value="br">Breton - brezhoneg</option>
                    <option <% if (news.lang == 'bg' ) { %> selected <% } %> value="bg">Bulgarian - български</option>
                    <option <% if (news.lang == 'ca' ) { %> selected <% } %> value="ca">Catalan - català</option>
                    <option <% if (news.lang == 'zh' ) { %> selected <% } %> value="zh">Chinese - 中文</option>
                    <option <% if (news.lang == 'co' ) { %> selected <% } %> value="co">Corsican</option>
                    <option <% if (news.lang == 'hr' ) { %> selected <% } %> value="hr">Croatian - hrvatski</option>
                    <option <% if (news.lang == 'cs' ) { %> selected <% } %> value="cs">Czech - čeština</option>
                    <option <% if (news.lang == 'da' ) { %> selected <% } %> value="da">Danish - dansk</option>
                    <option <% if (news.lang == 'nl' ) { %> selected <% } %> value="nl">Dutch - Nederlands</option>
                    <option <% if (news.lang == 'eo' ) { %> selected <% } %> value="eo">Esperanto - esperanto</option>
                    <option <% if (news.lang == 'et' ) { %> selected <% } %> value="et">Estonian - eesti</option>
                    <option <% if (news.lang == 'fo' ) { %> selected <% } %> value="fo">Faroese - føroyskt</option>
                    <option <% if (news.lang == 'fil') { %> selected <% } %>  value="fil">Filipino</option>
                    <option <% if (news.lang == 'fi' ) { %> selected <% } %> value="fi">Finnish - suomi</option>
                    <option <% if (news.lang == 'fr' ) { %> selected <% } %> value="fr">French - français</option>
                    <option <% if (news.lang == 'gl' ) { %> selected <% } %> value="gl">Galician - galego</option>
                    <option <% if (news.lang == 'ka' ) { %> selected <% } %> value="ka">Georgian - ქართული</option>
                    <option <% if (news.lang == 'de' ) { %> selected <% } %> value="de">German - Deutsch</option>
                    <option <% if (news.lang == 'el' ) { %> selected <% } %> value="el">Greek - Ελληνικά</option>
                    <option <% if (news.lang == 'gn' ) { %> selected <% } %> value="gn">Guarani</option>
                    <option <% if (news.lang == 'gu' ) { %> selected <% } %> value="gu">Gujarati - ગુજરાતી</option>
                    <option <% if (news.lang == 'ha' ) { %> selected <% } %> value="ha">Hausa</option>
                    <option <% if (news.lang == 'haw') { %> selected <% } %>  value="haw">Hawaiian - ʻŌlelo Hawaiʻi</option>
                    <option <% if (news.lang == 'he' ) { %> selected <% } %> value="he">Hebrew - עברית</option>
                    <option <% if (news.lang == 'hi' ) { %> selected <% } %> value="hi">Hindi - हिन्दी</option>
                    <option <% if (news.lang == 'hu' ) { %> selected <% } %> value="hu">Hungarian - magyar</option>
                    <option <% if (news.lang == 'is' ) { %> selected <% } %> value="is">Icelandic - íslenska</option>
                    <option <% if (news.lang == 'id' ) { %> selected <% } %> value="id">Indonesian - Indonesia</option>
                    <option <% if (news.lang == 'ia' ) { %> selected <% } %> value="ia">Interlingua</option>
                    <option <% if (news.lang == 'ga' ) { %> selected <% } %> value="ga">Irish - Gaeilge</option>
                    <option <% if (news.lang == 'it' ) { %> selected <% } %> value="it">Italian - italiano</option>
                    <option <% if (news.lang == 'ja' ) { %> selected <% } %> value="ja">Japanese - 日本語</option>
                    <option <% if (news.lang == 'kn' ) { %> selected <% } %> value="kn">Kannada - ಕನ್ನಡ</option>
                    <option <% if (news.lang == 'kk' ) { %> selected <% } %> value="kk">Kazakh - қазақ тілі</option>
                    <option <% if (news.lang == 'km' ) { %> selected <% } %> value="km">Khmer - ខ្មែរ</option>
                    <option <% if (news.lang == 'ko' ) { %> selected <% } %> value="ko">Korean - 한국어</option>
                    <option <% if (news.lang == 'ku' ) { %> selected <% } %> value="ku">Kurdish - Kurdî</option>
                    <option <% if (news.lang == 'ky' ) { %> selected <% } %> value="ky">Kyrgyz - кыргызча</option>
                    <option <% if (news.lang == 'lo' ) { %> selected <% } %> value="lo">Lao - ລາວ</option>
                    <option <% if (news.lang == 'la' ) { %> selected <% } %> value="la">Latin</option>
                    <option <% if (news.lang == 'lv' ) { %> selected <% } %> value="lv">Latvian - latviešu</option>
                    <option <% if (news.lang == 'ln' ) { %> selected <% } %> value="ln">Lingala - lingála</option>
                    <option <% if (news.lang == 'lt' ) { %> selected <% } %> value="lt">Lithuanian - lietuvių</option>
                    <option <% if (news.lang == 'mk' ) { %> selected <% } %> value="mk">Macedonian - македонски</option>
                    <option <% if (news.lang == 'ms' ) { %> selected <% } %> value="ms">Malay - Bahasa Melayu</option>
                    <option <% if (news.lang == 'ml' ) { %> selected <% } %> value="ml">Malayalam - മലയാളം</option>
                    <option <% if (news.lang == 'mt' ) { %> selected <% } %> value="mt">Maltese - Malti</option>
                    <option <% if (news.lang == 'mr' ) { %> selected <% } %> value="mr">Marathi - मराठी</option>
                    <option <% if (news.lang == 'mn' ) { %> selected <% } %> value="mn">Mongolian - монгол</option>
                    <option <% if (news.lang == 'ne' ) { %> selected <% } %> value="ne">Nepali - नेपाली</option>
                    <option <% if (news.lang == 'no' ) { %> selected <% } %> value="no">Norwegian - norsk</option>
                    <option <% if (news.lang == 'nb' ) { %> selected <% } %> value="nb">Norwegian Bokmål - norsk bokmål</option>
                    <option <% if (news.lang == 'nn' ) { %> selected <% } %> value="nn">Norwegian Nynorsk - nynorsk</option>
                    <option <% if (news.lang == 'oc' ) { %> selected <% } %> value="oc">Occitan</option>
                    <option <% if (news.lang == 'or' ) { %> selected <% } %> value="or">Oriya - ଓଡ଼ିଆ</option>
                    <option <% if (news.lang == 'om' ) { %> selected <% } %> value="om">Oromo - Oromoo</option>
                    <option <% if (news.lang == 'ps' ) { %> selected <% } %> value="ps">Pashto - پښتو</option>
                    <option <% if (news.lang == 'fa' ) { %> selected <% } %> value="fa">Persian - فارسی</option>
                    <option <% if (news.lang == 'pl' ) { %> selected <% } %> value="pl">Polish - polski</option>
                    <option <% if (news.lang == 'pt' ) { %> selected <% } %> value="pt">Portuguese - português</option>
                    <option <% if (news.lang == 'pa' ) { %> selected <% } %> value="pa">Punjabi - ਪੰਜਾਬੀ</option>
                    <option <% if (news.lang == 'qu' ) { %> selected <% } %> value="qu">Quechua</option>
                    <option <% if (news.lang == 'ro' ) { %> selected <% } %> value="ro">Romanian - română</option>
                    <option <% if (news.lang == 'mo' ) { %> selected <% } %> value="mo">Romanian (Moldova) - română (Moldova)</option>
                    <option <% if (news.lang == 'rm' ) { %> selected <% } %> value="rm">Romansh - rumantsch</option>
                    <option <% if (news.lang == 'ru' ) { %> selected <% } %> value="ru">Russian - русский</option>
                    <option <% if (news.lang == 'gd' ) { %> selected <% } %> value="gd">Scottish Gaelic</option>
                    <option <% if (news.lang == 'sr' ) { %> selected <% } %> value="sr">Serbian - српски</option>
                    <option <% if (news.lang == 'sh' ) { %> selected <% } %> value="sh">Serbo-Croatian - Srpskohrvatski</option>
                    <option <% if (news.lang == 'sn' ) { %> selected <% } %> value="sn">Shona - chiShona</option>
                    <option <% if (news.lang == 'sd' ) { %> selected <% } %> value="sd">Sindhi</option>
                    <option <% if (news.lang == 'si' ) { %> selected <% } %> value="si">Sinhala - සිංහල</option>
                    <option <% if (news.lang == 'sk' ) { %> selected <% } %> value="sk">Slovak - slovenčina</option>
                    <option <% if (news.lang == 'sl' ) { %> selected <% } %> value="sl">Slovenian - slovenščina</option>
                    <option <% if (news.lang == 'so' ) { %> selected <% } %> value="so">Somali - Soomaali</option>
                    <option <% if (news.lang == 'st' ) { %> selected <% } %> value="st">Southern Sotho</option>
                    <option <% if (news.lang == 'es' ) { %> selected <% } %> value="es">Spanish - español</option>
                    <option <% if (news.lang == 'su' ) { %> selected <% } %> value="su">Sundanese</option>
                    <option <% if (news.lang == 'sw' ) { %> selected <% } %> value="sw">Swahili - Kiswahili</option>
                    <option <% if (news.lang == 'sv' ) { %> selected <% } %> value="sv">Swedish - svenska</option>
                    <option <% if (news.lang == 'tg' ) { %> selected <% } %> value="tg">Tajik - тоҷикӣ</option>
                    <option <% if (news.lang == 'ta' ) { %> selected <% } %> value="ta">Tamil - தமிழ்</option>
                    <option <% if (news.lang == 'tt' ) { %> selected <% } %> value="tt">Tatar</option>
                    <option <% if (news.lang == 'te' ) { %> selected <% } %> value="te">Telugu - తెలుగు</option>
                    <option <% if (news.lang == 'th' ) { %> selected <% } %> value="th">Thai - ไทย</option>
                    <option <% if (news.lang == 'ti' ) { %> selected <% } %> value="ti">Tigrinya - ትግርኛ</option>
                    <option <% if (news.lang == 'to' ) { %> selected <% } %> value="to">Tongan - lea fakatonga</option>
                    <option <% if (news.lang == 'tk' ) { %> selected <% } %> value="tk">Turkmen</option>
                    <option <% if (news.lang == 'tw' ) { %> selected <% } %> value="tw">Twi</option>
                    <option <% if (news.lang == 'uk' ) { %> selected <% } %> value="uk">Ukrainian - українська</option>
                    <option <% if (news.lang == 'ur' ) { %> selected <% } %> value="ur">Urdu - اردو</option>
                    <option <% if (news.lang == 'ug' ) { %> selected <% } %> value="ug">Uyghur</option>
                    <option <% if (news.lang == 'uz' ) { %> selected <% } %> value="uz">Uzbek - o‘zbek</option>
                    <option <% if (news.lang == 'vi' ) { %> selected <% } %> value="vi">Vietnamese - Tiếng Việt</option>
                    <option <% if (news.lang == 'wa' ) { %> selected <% } %> value="wa">Walloon - wa</option>
                    <option <% if (news.lang == 'cy' ) { %> selected <% } %> value="cy">Welsh - Cymraeg</option>
                    <option <% if (news.lang == 'fy' ) { %> selected <% } %> value="fy">Western Frisian</option>
                    <option <% if (news.lang == 'xh' ) { %> selected <% } %> value="xh">Xhosa</option>
                    <option <% if (news.lang == 'yi' ) { %> selected <% } %> value="yi">Yiddish</option>
                    <option <% if (news.lang == 'yo' ) { %> selected <% } %> value="yo">Yoruba - Èdè Yorùbá</option>
                    <option <% if (news.lang == 'zu' ) { %> selected <% } %> value="zu">Zulu - isiZulu</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="">Haber İçeriği</label>
                <textarea id="content" name="description"><%= news.description %></textarea>
            </div>

            <div class="mb-3">
                <label for="">Haber Kapak Resmi</label>
                <input class="form-control" type="file" id="title" name="image" accept="image/*">
            </div>

            <div class="mb-3">
                <a class="nav-link" href="/<%= news.image %>" data-fancybox="gallery">
                    Resmi Gör
                </a>
            </div>

            <% if (tags) { %>
            <div class="mb-3">
                <h3>Etiketler</h3>
                <% tags.forEach((item) => { %>
                    <% if (news.news_tags.map(tag => tag.tag.name).includes(item.name)) { %>
                        <label for=""><%= item.name %></label>
                        <input class="me-3" type="checkbox" name="tags[]" value="<%= item.id %>" checked>
                      <% } else { %>
                        <label for=""><%= item.name %></label>
                        <input class="me-3" type="checkbox" name="tags[]" value="<%= item.id %>">
                      <% } %>
                 <% }) %> 
            </div>
            <% } %>  

            <button type="submit" class="btn btn-primary mb-3">Güncelle</button>

        </form>
    </div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#content'))
            .catch(error => {
                console.error(error);
            });
    </script>

<%- include('../../partials/footer') %>